#headerI {
  height: 300px;
  width: inherit;
  /*object-fit: cover;*/
  position: relative;
}

#top-container {
  padding: 0px;
  position: relative;
  /*margin: 0px;*/
}

#girly {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -125px;
  /*display: block;*/
}

#heading1 {
}

#sign-in-b {
  position: absolute;
  width: 315px;
  height: 55px;
  left: 50%;
  background: var(--bs-pink);
  border-radius: 28px;
  margin-left: -157.5px;
  margin-top: 30px;
  line-height: 30px;
}

#sign-in-b-1 {
  position: absolute;
  width: 315px;
  height: 55px;
  left: 50%;
  background: var(--bs-gray-100);
  border-radius: 28px;
  margin-left: -157.5px;
  margin-top: 110px;
  line-height: 30px;
}

#footer {
  background: var(--bs-pink);
  position: absolute;
  bottom: 0px;
  width: inherit;
}

#footer img {
  width: initial;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: block;
  padding-top: 3px;
  padding-bottom: 5px;
}

#footerC {
  margin: 0px;
}

#guest {
  margin-top: 170px;
}

img {
}

#yogabutton:hover {
  margin-top: 2px;
}

